[submodule "Dependencies/GRMustache"]
	path = Dependencies/GRMustache
	url = https://github.com/groue/GRMustache.git
[submodule "Dependencies/Sundown"]
	path = Dependencies/Sundown
	url = https://github.com/CarterA/sundown.git
[submodule "Dependencies/CocoaHTTPServer"]
	path = Dependencies/CocoaHTTPServer
	url = https://github.com/CarterA/CocoaHTTPServer
[submodule "Dependencies/CurlHandle"]
	path = Dependencies/CurlHandle
	url = git@github.com:CarterA/CurlHandle.git
